.video-btn{
    margin-top: 1.5em;
    width: 200px;
    height: 50px;
    border-radius: 60px;
    transition: all 0.3s;
}

.video-btn:hover{
    background-color: red;
    color: white;
    border: none;
    transition: all 0.3s;
    scale: 1.05;
}

.modal-content{
    background-color:#000 !important;
    border-radius: 1rem;
    overflow: hidden;
}
.modal-style{
    height: 100%;
    position: relative;
}
.modal-style::before{
    content: '';
    display: block;
    width:100%;
    padding-bottom: calc(56.25% + 3rem);
    position: relative;
}
.modal-header{
    border:none !important;
    filter: invert();
    position: absolute;
    width: 100%;
    left:0;
    top:0;
    z-index: 2;
}
.modal-body{
    width: 100%;
    height: calc(100% - 3rem);
    padding:0 !important;
    position: absolute;
    bottom:0;
}

@media (min-width: 576px){
    .modal-dialog {
        width:90%;
        max-width: 1000px;
    }
}