.review-card {
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
    padding: 1em;
    margin-bottom: 1.6em;
  }
  
  .review-content{
    margin-top: 0.5em;
    font-size: 1.2em;
    line-height: 1.3;
    width:100%;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: keep-all;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.review-content.open{
    -webkit-line-clamp: unset;   
}

.more-btn{
    margin-top: 1em;
    border: 0;
    background-color: transparent;
    color: white;
    text-decoration: underline;
}