.banner-area {
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3em;
  position:relative;
}

.banner-area:before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 65vh;
  width: 100%;
}

.banner-text-area {
  width: 42%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  position: absolute; 
  bottom: 40px;
}

.banner-text-area h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.1;
}

.banner-text-area p {
  font-size: 1.1rem;
  line-height: 1.3;
}

.banner-text-area p {
  font-weight: 200;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1024px) {
  
  .banner-text-area {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    position: absolute; 
    bottom: 0px;
  }
  .banner-text-area h1 {
    font-size: 2rem;
    font-weight: 700;
  }

}

/* 앞으로 정렬하는거 (banner-text-area 에있는 > 모든아이템을 > 위로보내준다 z-index */
.banner-text-area > * {
  z-index: 2;
}
